.header {
    float: right;
}

.header img {
    height: 80px;
}

.siteLogo {
    margin-right: 300px;
    float: left;
}

.header nav {
    margin-top: 10px;
    font-size: 26px;
    float: right;
}

nav a {
    text-decoration: none;
    margin-left: 30px;
    color: white;
    background: black;
    padding: 6px;
    border-radius: 5px;
}

nav a:hover {
    background: #FF9800;
}